
.banner {
    /* background-image: url('../img/snorkle1.jpg');
    background-size: cover; */
    height: 520px; /* 600-116px navbar height */
    position: relative;
    padding: 0px;
    margin-top: 80px;
}

@media (max-width: 991px) {
    .banner {
        margin-top: 56px;
    }    
}

.banner-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* left-right position // top-bottom % */
    object-position: 50% 50%;
}

/* ================================= 
  Media Queries
==================================== */

/* Rounded corners */
@media (max-width: 1199px) {

    .custom-round-corner {
        border-radius: .25rem 0 0 0;
    }
}

@media (max-width: 767px) {

    .custom-round-corner {
        border-radius: .25rem .25rem 0 0;
    }
}