
.banner {
    height: 600px;
    padding: 0px;
    position: relative
}

.banner-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 68% 50%;
}

/*----------- TEASER + HOVER -----------*/


.hover-1 {
  color: white;
}

.teaser-text {
  color: white;
  font-size: larger;
  font-weight: 500;
  letter-spacing: .75px;
}

/* palm tree image overlay in teaser area */
/* .teaser-img {
    display: flex;
    justify-content: left;
    width: 200px;
      position: absolute;
    mix-blend-mode: darken;
    opacity: 0.5;
} */


/*------------------------------------*/

/* logo container */
.logo-container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 1100px) {

  /* home page teaser hover */
  .hover-1 {
    --h: 1.2em;
  
    line-height: var(--h);
    color: #0000; /* color is transparent to hide text */
    text-shadow: /* shadow is a copy of text, with no blur/effects */
      0 0 white, 
      0 var(--h) #CE0E2D;
    overflow: hidden;
    /* transition: .3s; */
    transition: .25s;
  }
  .hover-1:hover {
    text-shadow: 
      0 calc(-1 * var(--h)) white, 
      0 0 #CE0E2D;
  }

  .teaser {
      position: relative;
  }
  
}