@charset "utf-8";

/* ––––––– FORM ––––––– */

form.regform {
   margin: 2em auto 3em auto;
   width: 60%;
   max-width: 1100px;
   font-family: sans-serif;
}

div.formRow {
   display: flex;
   flex-flow: row wrap;
   margin: 20px 0px;
}

div.formRow > * {
   flex: 1 1 150px;
}

div#guestCB {
   color: gray;
}

form input {
   padding: 2em;
}

::placeholder {
   font-size: larger;
}

.leftcol {
   margin-right: 9px;
}

.rightcol {
   margin-left: 9px;
}


/* ––––––– BUTTONS ––––––– */

div.buttonContainer {
   text-align: right;
   width: 100%;
}

input[type='submit'],
input[type='reset'] {
   background-color: #F89422;
   color: white;
   text-transform: uppercase;
   border: none;
   width: 100px;
   float: right;
   margin-bottom: 4em;
}

input[type='submit']:hover,
input[type='reset']:hover {
   cursor: pointer;
}

#reset {
   margin-right: 15px;
}


/* ––––––– VALIDATION ––––––– */

input#firstname:focus:valid, 
input#lastname:focus:valid, 
input#phone:focus:valid,
input#email:focus:valid {
   border-color: 2px solid green;
}

input#firstname:focus:valid, 
input#lastname:focus:valid, 
input#phone:focus:invalid,
input#email:focus:invalid {
   border-color: 2px solid red;
}

/* ––––––– JAVASCRIPT CLICK ––––––– */

.yaman {
   width: 100%;
   margin: 0 auto;
}